// FONTS
$FontSFProDisplay: "SF Pro Display", Arial, Helvetica, sans-serif;
$FontGOSTUI2: "GOST UI 2", Arial, Helvetica, sans-serif;

// COLORS
$ColorWhite: #FFFFFF;
$ColorTextMain: #3B4256;
$ColorBlueMain: #0061D9;
$ColorBlue: #3684E2;
$ColorBlueDark: #0050B2;
$ColorGreen: #1BC400;
$ColorGrey: #BCC3CA;
$ColorGreyLight: #E5E5E5;
$ColorGreyLighter: #F5F5F7;
$ColorYellowFade: #FFF5E6;
$ColorYellow: #FF9500;

// TRANSITIONS
$TransitionOpacity: opacity .15s ease;